extends layout

block content
  h1= title
  <img src="../../images/nyc-aprt.jpg" class="img-responsive" alt="Responsive image">
  br
  p.bg-success
  |  Want to rent an apartment?
  |  Have to an apartment to rent out?
  |  Go D306!
  p
    a.btn(class="btn-lg", class="btn-primary", href="/apartments", role="button") Find Apartments